.blue-eyes .eye-color {
  fill: blue; }

.sad .mouth {
  transform: rotate(180deg) scale(0.5);
  transform-origin: 340px 390px; }

@keyframes moveEyes {
  0% { }
  100% { } }

.move-around .inner-eye-group {
  animation: movesEyes 5s; }
